# IntelliJ Based IDEs
.idea

# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Build files
build
dist
/public/build
tmp

# Don't add genrated PDFs to version control
generator/build

# misc
.DS_Store
.firebase
tsconfig.tsbuildinfo
.cache

# Environment files
.env.*
!.env.example

# Supabase
supabase/.branches
supabase/.temp

# Next.js & Vercel
.vercel

# NX
.nx
