@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .paper-light {
        background-image: url('/assets/bg/light.jpg');
    }
    .paper-dark {
        background-image: url('/assets/bg/dark.jpg');
    }
    .paper {
        @apply paper-light dark:paper-dark;
    }

    body {
        @apply paper;
    }

    header, footer {
        @apply paper bg-primary bg-blend-color-burn;
    }

    h1 {
        @apply font-serif;
        @apply text-6xl;
    }

    h2 {
        @apply font-serif;
        @apply text-5xl;
        @apply mb-5;
    }

    h3 {
        @apply font-serif;
        @apply text-4xl;
        @apply mb-4;
    }

    h4 {
        @apply font-serif;
        @apply text-3xl;
        @apply mb-3;
    }

    h5 {
        @apply font-serif;
        @apply text-2xl;
        @apply mb-2;
    }

    h6 {
        @apply font-serif;
        @apply text-xl;
        @apply mb-1;
    }

    a {
        @apply font-normal;
    }

    p, ul {
        @apply text-base-content;
    }
}

@layer components {
    .btn {
        @apply rounded-l-full rounded-r-full;
        @apply select-none font-medium;
        @apply hover:shadow focus:shadow flex-nowrap;
        @apply h-auto min-h-fit px-8 py-4 gap-4;
        & > svg {
            @apply h-4 w-4 opacity-80;
        }
        &[disabled] {
            @apply cursor-not-allowed;
        }
        &.loading {
            &:before {
                @apply w-4 h-4 mr-0;
            }
            & > svg {
                display: none;
            }
        }
    }

    .field {
        @apply rounded-l-full rounded-r-full py-3 px-5 paper bg-opacity-10;
        @apply border-2 focus:border-primary/75 aria-invalid:border-error/75;
        @apply focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-transparent;
        @apply transition-shadow duration-300;
    }
}

/** Avoids UserAgent coloring of auto fills */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}

.curve {
    clip-path: ellipse(95% 99% at 55% 0%);
}

.header-nav {
    @apply select-none text-xl font-serif text-center text-primary-content;
    position: relative;
    &::before {
        content: attr(data-content);
        width: 100%;
        height: 0;
        visibility: hidden;
        font-weight: 700;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
    }
    display: inline-flex;
    flex-direction: column;
    &::after {
        content: '';
        position: absolute;
        width: 110%;
        transform: scaleX(0);
        height: 2px;
        bottom: -0.25rem;
        left: -5%;
        transform-origin: center center;
        transition: transform 0.25s ease-out;
        @apply border-0 border-transparent rounded-l-full rounded-r-full bg-primary-content;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: center center;
    }
}

.react-pdf {
    &__Document {
        @apply rounded border-0 drop-shadow overflow-clip;
    }
    &__Page {
        min-width: auto !important;
        min-height: auto !important;
        @apply rounded overflow-clip;
        &__canvas {
            width: 100% !important;
            height: auto !important;
            @apply rounded overflow-clip;
        }
        &__annotations {
            display: none;
        }
    }
}
