@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Quicksand:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .paper {
        /*noinspection CssUnknownTarget*/
        background-image: url('/assets/jpg/bg.jpg');
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.01);
    }

    body {
        @apply paper;
        color: rgba(0, 0, 0, 0.8);
    }

    h1 {
        @apply font-serif;
        @apply text-6xl;
    }

    h2 {
        @apply font-serif;
        @apply text-5xl;
        @apply mb-5;
    }

    h3 {
        @apply font-serif;
        @apply text-4xl;
        @apply mb-4;
    }

    h4 {
        @apply font-serif;
        @apply text-3xl;
        @apply mb-3;
    }

    h5 {
        @apply font-serif;
        @apply text-2xl;
        @apply mb-2;
    }

    h6 {
        @apply font-serif;
        @apply text-xl;
        @apply mb-1;
    }

    a {
        @apply font-normal;
    }

    .elevated {
        @apply paper;
        box-shadow:
            0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.1),
            -0.4rem -0.4rem 1rem rgba(255, 255, 255, 0.6);
    }

    .elevated-sm {
        @apply paper;
        box-shadow:
            0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2),
            -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.5);
    }
}

@layer components {
    .btn {
        @apply rounded-l-full rounded-r-full border-none;
        @apply border border-transparent focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-transparent;
        @apply elevated focus:elevated hover:paper active:shadow-none active:paper;
        @apply transition-shadow duration-150;
        @apply font-normal select-none;
        @apply h-auto min-h-fit px-8 py-4;
        @apply font-medium gap-4 bg-blend-lighten;
        @apply text-base-content;
        color: black;

        & > svg {
            @apply h-4 w-4 opacity-70;
            @apply mix-blend-multiply;
        }

        &[disabled] {
            background-color: transparent;
            @apply shadow-none;
        }
    }

    .btn.loading:before {
        @apply w-4 h-4 mr-0;
    }

    .btn.loading > svg {
        display: none;
    }

    .field {
        @apply rounded-l-full rounded-r-full py-2 px-4;
        @apply border focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-transparent;
        @apply paper focus:shadow-inner;
        /* Override paper  */
        background-color: rgba(0, 0, 0, 0.05);
        @apply transition-shadow duration-300;
        @apply font-medium text-opacity-80;
    }

    .link {
        text-underline-offset: 0.25rem;
    }
}

/** Avoids UserAgent coloring of auto fills */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}

@layer utilities {
}

html:before {
    @apply paper;
}

.curve {
    clip-path: ellipse(90% 99% at 50% 0%);
}

.header-nav {
    position: relative;
    &::before {
        content: attr(data-content);
        width: 100%;
        height: 0;
        visibility: hidden;
        font-weight: 800;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
    }
}

.hover-underline-animation {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    color: white;
    &::after {
        content: '';
        position: absolute;
        width: 110%;
        transform: scaleX(0);
        height: 2px;
        bottom: -0.25rem;
        left: -5%;
        background-color: white;
        transform-origin: center center;
        transition: transform 0.25s ease-out;
        @apply border-0 border-transparent rounded-l-full rounded-r-full;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: center center;
    }
}

.react-pdf {
    &__Document {
        @apply rounded border-0 drop-shadow overflow-clip;
    }
    &__Page {
        min-width: auto !important;
        min-height: auto !important;
        @apply rounded overflow-clip;
        &__canvas {
            width: 100% !important;
            height: auto !important;
            @apply rounded overflow-clip;
        }
        &__annotations {
            display: none;
        }
    }
}
